__pycache__
dist/
*/__pycache__
blenderproc.egg-info/
build/
blender
.idea/
.vscode/
output/
debug/
my_examples/output_blenderproc_blurr*
resources/AMASS
resources/cc_textures*
resources/my_textures*
resources/polyhaven*
resources/Object_Data/hb*
resources/Object_Data/itodd*
resources/Object_Data/tless*
resources/Object_Data/tyol*
resources/Object_Data/ycbv*
resources/scenenet/*zip
resources/scenenet/SceneNetData
resources/scenenet/texture*
resources/blenderkit
resources/decomposition_cache
resources/IKEA
resources/haven
resources/pix3d
resources/front_3D/3D_front_mapping_generated.csv
blenderproc/external/vhacd
my_examples/output_blenderproc
my_examples/output_bp
*.blend1
.vscode
*.pyc
*.swp
*.pt
*.png
*.jpeg
*.jpg
docs/build/
!docs/source/index.rst
docs/source/*rst
docs/source/images/
docs/source/examples/
docs/source/*md
blenderproc_resources/



.venv/
.vscode/
.pylintrc


